
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   width: 100%;
}


body{
   font-family: 'arial';
}



.header-inner-content{
   max-width: 1300px;
   margin-left: auto;
   margin-top: auto;
}

.navbar{
   background-color: rgb(206, 134, 194);
   padding: 1rem;
   position: sticky;
   top: 0;
   box-shadow: 10px 0px 10px rgba(153, 58, 231, 0.774);
   z-index: 99;
}

.navbar>div{
   display: flex;
   align-items: center;
   justify-content: space-between;
}


.logo{
   color: rgb(163, 72, 133);
}

.logo span{
   color: rgb(238, 210, 151);
}

nav ul{
   display: flex;
   list-style: none;
   align-items: center;
}

.nav-icon-container{
   display: flex;
   align-items: center;
}

.nav-icon-container img{
   width: 30px;
   cursor: pointer;
}

.nav-icon-container img:first-child{
   margin-right: 1rem;
}

 nav ul li{
   color: rgb(186, 252, 169);
   margin-right: 1.5rem;
    cursor: pointer;
}


nav ul li:hover{
   transform: translateY(-5px);
   transition: all 0.2s;
   font-weight: bold;
}

.menu-button{
   display: none;
}

button{
   padding: 10px 15px;
   gap: 10%;
   width: 150px;
}

header{
   background-image: radial-gradient(#e884d7, #59c8ce);
}

.header-bottom-side{
   display: flex;
   align-items: center;
   justify-items: center;
   padding: 1rem;
}

.header-bottom-side-left{
   height: 100%;
   flex-basis: 50%;
}
.header-bottom-side-left h2{
   font-size: 3.2rem;
   margin-bottom: 1.5rem;
}

.header-bottom-side-left p{
   line-height: 1.5rem;
   margin-bottom: 1.5rem;
}

.header-bottom-side-left button{
   background-color:rgb(216, 141, 206);
   border: none;
   cursor: pointer;
   padding: 0.8rem 3.8rem;
   border-radius: 9999px;
   color: rgb(0, 0, 0);
   font-weight: 500;
   font-size: 1rem;
   transition: all 0.2s;

}

.header-bottom-side-left button:hover{
   background-color:rgb(168, 88, 141);
}

.header-bottom-side-right{
   flex-basis: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header-bottom-side-right img{
   display: flex;
   width: 55%;
   padding: 100px 15px;
   justify-items: right;
}


/* Media Queries */
@media(max-width: 800px){
   .logo{
      font-size: 1.2rem;
   }


   .header-bottom-side{
      flex-direction: column;
      text-align: center;
      padding-top: 4rem;
   }

   nav{
      position: absolute;
      background-color: #e884d7;
      width: 100%;
      top: 46px;
      display: none;
   }

   .show-menu nav{
      display:block;
      
   }

   nav ul{
      flex-direction: column;
   }

   nav ul li{
      text-align: center;
      padding: 0.8rem;
   }
}



/* Header */


/* main content */

.pink-background{
background-color: #a15795;
}

.page-inner-content{
   max-width: 1280px;
   margin: 0 auto;
}

.cols{
   display: grid;
   align-items: center;
   justify-content: space-evenly;
   padding: 4rem 1rem;
}

.cols-3{
   grid-template-columns: repeat(3, 1fr);
   gap: 3rem;
}

cols-3 img{
   max-width: 100%;
}

.cols-4{
   grid-template-columns: repeat(4, 1fr);
   gap: 1rem;
}

.cols>*{
   cursor: pointer;
   transition: all 0.2s;
}

.cols>*:hover{
   transform: translateX(-5px);
}
