
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}


body{
   font-family: 'arial';
}

.slider{
   margin: 0 auto;
   width: 800px;
   height: 500px;
   overflow: hidden;
   padding-top: 10px
}

.slides{
   width: 400%;
   height: 400px;
   display: flex;
}

.slides input{
   display: none;
}

.slide{
   width: 25%;
   position: relative;
   transition: 2s;
}

.slide img{
   width: 800px;
}

/*.manual-navigation{
   position: absolute;
   width: 800px;
   margin-top: -40px;
   display: flex;
   justify-content: center;
}

/*.manual-btn{
   border: 1px solid #000000;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.5s;
}*/

.manual-btn:not(:last-child){
   margin-right:30px
}

.manual-btn:hover{
   background-color: #eb69a2;
}

#radio1:checked ~ .first{
   margin-left: 0;
}

#radio2:checked ~ .first{
   margin-left: -25%;
}

#radio3:checked ~ .first{
   margin-left: -50% ;
}

#radio4:checked ~ .first{
   margin-left: -75%;
}

.navigation-auto{
   position: absolute;
   width: 800px;
   margin-top: 360px;
   display: flex;
   justify-content: center;
}

.navigation-auto div:not(:last-child){
   margin-right: 40px;
}

.header-inner-content{
   max-width: 1300px;
   margin-left: auto;
   margin-top: auto;
}

.navbar{
   background-color: #a99c9c;
   position: sticky;
   top: 0;
   box-shadow: 10px 0px 10px rgb(131, 123, 128);
   z-index: 99;
}

.navbar>div{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}


.logo{
   margin-right: auto ;
   width: 90px;
   border-radius: 100px;
}



nav ul{
   display: flex;
   list-style: none;

}

.nav-icon-container{
   display: flex;
   align-items: center;
}

.nav-icon-container img{
   width: 30px;
   cursor: pointer;
}

.nav-icon-container img:first-child{
   margin-right: 1rem;
}

 nav ul li{
   color: rgb(0, 0, 0);
   margin: 1.5rem;
   cursor: pointer;
   
}


nav ul li:hover{
   transform: translateY(-5px);
   transition: all 0.2s;
   font-weight: bold;
}

.menu-button{
   display: none;
}


header{
   background-image: radial-gradient(#ec94d1, #ffffff);
}

.header-bottom-side{
   display: flex;
   align-items: center;
   justify-items: center;
   padding: 1rem;
}

.header-bottom-side-left{
   height: 100%;
   flex-basis: 50%;
}
.header-bottom-side-left h2{
   font-size: 3.2rem;
   margin-bottom: 1.5rem;
}

.header-bottom-side-left p{
   line-height: 1.5rem;
   margin-bottom: 1.5rem;
}

.header-bottom-side-left button{
   background-color:rgb(216, 141, 206);
   border: none;
   cursor: pointer;
   padding: 0.8rem 3.8rem;
   border-radius: 9999px;
   color: rgb(0, 0, 0);
   font-weight: 500;
   font-size: 1rem;
   transition: all 0.2s;

}

.header-bottom-side-left button:hover{
   background-color:rgb(168, 88, 141);
}

.header-bottom-side-right{
   flex-basis: 50%;
}

.header-bottom-side-right img{
   display: flex;
   width: 150px;
   padding: 10px 15px;
   justify-items:left;
   
}


/* Media Queries */
@media(max-width: 800px){
   .logo{
      font-size: 1.2rem;
   }


   .header-bottom-side{
      flex-direction: column;
      text-align: center;
      padding-top: 4rem;
   }

   nav{
      position: absolute;
      background-color:#a99c9c;
      width: 100%;
      top: 46px;
      display: none;
   }

   .show-menu nav{
      display:block;
      
   }

   nav ul{
      flex-direction: column;
   }

   nav ul li{
      text-align: center;
      padding: 0.8rem;
   }
}



/* Header */


/* main content */
main{
   background-color: aqua;

}

.pink-background{
background-color: #e4cfe1;
}

.page-inner-content{
   max-width: 1280px;
   margin: 0 auto;
}

.cols{
   display: grid;
   align-items: center;
   justify-content: space-evenly;
   padding: 4rem 1rem;
}

.cols-3{
   grid-template-columns: repeat(3, 1fr);
   gap: 3rem;
}

.cols-3 img{
   max-width: 100%;
}

.cols-4 img{
   max-width: 100%;
}


.cols-4{
   grid-template-columns: repeat(4, 1fr);
   gap: 1rem;
}

.cols>*{
   cursor: pointer;
   transition: all 0.2s;
}

.cols>*:hover{
   transform: translateX(-5px);
}


.section-title{
   text-align: center;
   margin-top: 4rem;
   font-size: 1.8rem;
}

.subtitle-underline{
   width: 100px;
   height: 5px;
   background:#eb69a2;
   border-radius: 9999px;
   margin: 8px auto 0 auto;
}

.product{
   color: rgb(0, 0, 0);
   margin-bottom: 1rem;
   display: flex;
   flex-direction: column;
}

.product-name{
   font-weight: 600;
   margin-top: 0.4rem;
}

.rate{
   color: #f09f36;
   font-size: 1.3rem;
}

.product-price span{
   font-weight: 600;
}


